@font-face {
    font-family: "Arial"; 
    src: url("Arial.otf") format("opentype"); 
    font-style: normal; 
    font-weight: normal; 
  }
   body{
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("https://krot.info/uploads/posts/2020-01/1579540358_19-44.jpg");
    background-attachment: fixed;
    background-size: cover;
}
header{
    height: 100px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.photo{
    height: 60px;
}
.url{ 
    color: black;
}
.url:hover {
    color:rgb(43, 255, 0);
}
a:hover{
    color:rgb(236, 22, 208);
}

footer{
    height: 100px;
    background-image: url("https://funart.pro/uploads/posts/2020-04/1585770601_50-p-zablyurennie-foni-114.jpg");
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
footer p{
    color: rgb(0, 0, 0);
}
p{
    font-size: large;
}
@media all and (orientation: landscape), (min-device-width: 700px){
    header{
        height: 65px;
        box-shadow: 0 0 10px rgba(12, 12, 12, 0.5);
    }
    .photo{
        height: 60px;
    }
    footer{
        height: 60px;
    }
    label{
        font-size: medium;
    }
}
